<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=title%></title> 
    </head>

    <link rel='stylesheet' href="/custom.css">

    <body>
        
        <% include ./menubar.ejs %>

    <div id="root"> 
     

        <div id="side">
            <li>
                <a href="#">one</a>
            </li>
            
            <img style="transform:translateY(1px)"id="zero" onmouseover="btnOn0()" onmouseout="btnOUT0()" src="/anigif2.jpg">
            <img style="transform:translateY(-3px);" id="one" onmouseover="btnOn1()" onmouseout="btnOUT1()" src="/anigif.jpg">
            <img style="transform:translateY(-6px)" id="two" onmouseover="btnOn2()" onmouseout="btnOUT2()" src="/crop.jpg"> 
            
        </div>

        <div id="con">
            
        <H1 style=""><%=title%></H1>
        <Hr>
        <p>안녕하세요. <%=title%> 페이지 입니다. 매우 반갑습니다.</p> 
            <img src="http://imgnews.naver.com/image/076/2016/07/15/2016071601001245100088381_99_20160715104505.jpg">
        
            
        
        </div>
        
       

        

    </div>

   <% include ./footer.ejs %>

   
    </body>

    <script type="text/javascript">
        function btnOn0(){
        document.getElementById('zero').src = "/anigif2.gif";
        }
        function btnOUT0(){
        document.getElementById('zero').src = "/anigif2.jpg";
        }
        function btnOn1(){
        document.getElementById('one').src = "/anigif.gif";
        }
        function btnOUT1(){
        document.getElementById('one').src = "/anigif.jpg";
        }
        function btnOn2(){
        document.getElementById('two').src = "/crop.gif";
        }
        function btnOUT2(){
         document.getElementById('two').src = "/crop.jpg";    
        }
    </script>
</html>