<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=title%></title> 
    </head>

    <link rel='stylesheet' href="/custom.css">

    <body>
        
        <% include ./menubar.ejs %>

    <div id="root"> 
     

        <% include ./leftsidebar.ejs %>

        <div id="con">
            <div id="con2">
        <H1 ><%=title%></H1>
        <Hr>
        
        <style type="text/css">
        div img { height:100%; width:100%;}
        .mainframe {height:15em;
            width:33%;
            border: 0.1px solid black;
            float:left;
            }
        </style>
        <div class="mainframe">
            <img src="http://imgnews.naver.com/image/076/2016/07/15/2016071601001245100088381_99_20160715104505.jpg">
        </div>
        <div class="mainframe"><img src="http://cafefiles.naver.net/20160803_265/forme1229_1470224399100R1TSd_JPEG/image.jpeg"></div>
        <div class="mainframe"><img src="http://imgnews.naver.com/image/311/2017/07/11/0000753086_001_20170711094153854.jpg"></div>
        <div class="mainframe"><img src="http://cafefiles.naver.net/20160122_6/dhdydtlr3_1453448398967EgYNb_JPEG/740_IMG_20160122_145105.jpg"></div>
        <div class="mainframe"><img src="http://blogfiles5.naver.net/20151102_110/romanticfx_1446448812801ROxfk_JPEG/NaverBlog_20151102_162012_08.jpg"></div>
        <div class="mainframe"><img src="http://cafefiles.naver.net/MjAxNzA0MjhfNzQg/MDAxNDkzMzY4MTk0MTg0.nTjPSODrkL-dl9wrCK-C02fbUVAE5g4bzzrDK1qJ0vwg.9x5-lcWFrcHbbUyyj7pFQ-ezRMchHWpftmDjoYqIkwEg.JPEG.ibl7954/01ukygv.jpg"></div>
        <div class="mainframe"><img src="http://cafefiles.naver.net/MjAxNzA0MjRfMTI0/MDAxNDkzMDExMDgwMzk0.Bn-gwDAlg1QaglmFLH-TpE3l5mhqD08oMuhMwerINqgg.N9qT7MzpveidbRFwv5PIDMPIz5l-jWe-pJNK6gCNX9Yg.JPEG.kidcap17/externalFile.jpg"></div>
        <div class="mainframe"><img src="http://blogfiles5.naver.net/MjAxNjEyMjNfMTIy/MDAxNDgyNDY5MjY2MDg1.6yrqvP6oxX47aBbOro0KbqU8e1fvoB6azSzgAWXK7psg.Op6zaisdJT0tx3IeSzwx3UJVA56SxYQLfjFY50HNBEgg.JPEG.gksqudgkr85/%C6%AE%BF%CD%C0%CC%BD%BA%BB%E7%B3%AA_%C7%B0%BF%A1_%BE%C8%B1%E4_%C0%CE%C7%FC%C0%CC_%BA%CE%B7%B4%B4%D9_%BB%E7%B3%AA_%C0%CC%BB%B5%BF%E4_%BC%BD%BD%C3%B9%CC_%B1%CD%BF%E4%B9%CC_%BE%C6%B8%A7%B4%E4%B4%D9_%281%29.jpg"></div>
        <div class="mainframe"><img src="http://imgnews.naver.com/image/5095/2017/01/25/0000381920_001_20170125145634829.jpg"></div>
        
        
            </div>
        
        </div>
        
       

        

    </div>

   <% include ./footer.ejs %>

   
    </body>

    <script type="text/javascript">

    </script>
</html>