<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=title%></title> 
    </head>

    <link rel='stylesheet' href="/custom.css">

    <body>
     
    <div id="root"> 
        <% include ./menubar.ejs %>

        <div id="side">
            
        </div>

        <div id="con">
            
        <H1 style=""><%=title%></H1>
        <Hr >
        <p>안녕하세요. <%=title%> 페이지 입니다. 매우 반갑습니다. 
            <form method="post" action="/board/write">
            <!--<input name="id" type="text" style="width:200px; height:30px;" placeholder='글 번호를 입력하세요.' >-->
            <input name="name" type="text" style="width:280px; height:30px;" placeholder='작성자를 입력하세요.' >
            <input name="password" type="text" style="width:280px; height:30px;" placeholder='비밀번호를 입력하세요.' >
            <input name="title" type="text" style="width:800px; height:30px;" placeholder='글 제목을 입력하세요.' >   
            <textarea name="description" style="width:800px; height:500px" placeholder='글 내용을 입력하세요.' >
            </textarea>
            <input style="float:right" type="submit" value="글 쓰기">
            </form>
        </div>
        
        <% include ./footer.ejs %>
    </div>

    </body>



    <script type="text/javascript">
    function write(){

    }
    </script>
</html>